$mainColor: #b18963;
$secondColor: #262626;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

@font-face {
  font-family: mainfont;
  src: url("../fonts/DINNextLTArabic-Regular-3.ttf");
}

body {
  font-family: mainfont;
  text-transform: capitalize;
  direction: rtl;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

// navbar
.navbar{
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  padding-top: 44px;
  .logo{
    position: absolute;
    right: 60px;
    bottom: -20px;
  }
  .top-navbar{
    width: 100%;
    .social-links{
      margin-bottom: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row-reverse;
      li{
        margin-right: 15px;
        margin-left: 15px;
        a{
          color: #fff;
        }
        i{
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
  .navbar-links{
    width: 100%;
    margin-top: 24px;
    ul{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-bottom: 0;
      li{
        margin-left: 23px;
        margin-right: 23px;
        a{
          color: #fff;
          font-size: 18px;
        }
      }
      .dropMenue{
        position: relative;
          &::after{
            @extend %init-font-awesome;
            content: "\f107";
            left: -15px;
            top: 4px;
            position: absolute;
            color: #fff;
          }
      }
    }
  }
}


// header
.header{
  .swiper-container {
    width: 100%;
    height: 100%;
    .leftImg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
    }
  }
  
  .swiper-button {
    &-next,
    &-prev {
      color: #000;
    }
  }
  
  .swiper-slide-duplicate,
  .swiper-slide {
    background-position: center center;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    /* Slide content */
    .description,
    .title {
      display: block;
      opacity: 0;
      transition: 0.5s ease 0.5s;
    }
    &-active {
      .description,
      .title {
        opacity: 1;
      }
      .title {
        transition: opacity 0.5s ease 0.5s;
        img{
          width: auto;
          max-width: 175px;
        }
      }
      .description {
        font-size: 75px;
        color: #323C4F;
        transition: opacity 0.5s ease 0.75s;
      }
    }
    @extend %img-bg-style;
    // height: 1004px;
    // opacity: .5;
    position: relative;
    padding-top: 265px;
    padding-bottom: 426px;
    
    &::after{
      content: "";
      width: 100%;
      background-image: url('../images/header-slider-after.png');
      @extend %img-bg-style;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }

  .swiper-pagination{
    bottom: 380px;
    .swiper-pagination-bullet{
      border: 1px solid #757575;
      background-color: transparent;
      width: 10px;
      height: 10px;
    }
    .swiper-pagination-bullet-active{
      background-color: #fff !important;
      border: 1px solid #fff;
    }
  }
  
  .swiper-progress-bar {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: 5px;
    top: 0;
    .slide_progress-bar {
      position: absolute;
      height: 5px;
      background: transparent;
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background: #B28D56;
        height: 100%;
        width: 0;
        content: "";
      }
    }
    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide_progress-bar {
        &:after {
          transition: width linear;
          transition-delay: unset;
          width: 100%;
          transition-duration: 5s;
        }
      }
    }
  }
  
}





@media (max-width: 1500px) {
  .navbar{
    .logo{
      bottom: 0;
      img{
        width: 152px;
      }
    }
  }
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
  
}

@media (max-width: 960px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile & Tablets */
@media (max-width: 767px) {
}

/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
 
}

@media (max-width: 376px) {

}

@media (max-width: 321px) {

}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
